In [1]:
import os
import glob
import numpy as np
import pandas as pd
import datetime as dt
from shapely.geometry import LineString, Point, Polygon, MultiPoint
import matplotlib.pyplot as plt
import geopandas as gpd
from pyproj import CRS
import seaborn as sns; sns.set_theme()
import matplotlib.pyplot as plt
import netCDF4 as nc
import shapely
shapely.speedups.enabled

%matplotlib inline

In [2]:
IMERG_folder = '/media/lzhou/Extreme SSD/Precipitation/IMERG'
CMA_folder = '/home/lzhou/Precipitation/TC_Tracks/CMA_Historical_Data/Wind_Rainfall/'
Output_folder = '/home/lzhou/Precipitation/Output'
Output_folder2 = '/home/lzhou/Precipitation/Precipitation_Scripts/Output/'

In [4]:
os.listdir(Output_folder2)

['CMA_Best_Tracks_Nodes.cpg',
 'CMA_Tracks_Nodes_on_Land.cpg',
 'CMA_Best_Tracks_Nodes.dbf',
 'CMA_Best_Tracks.dbf',
 'CMA_Best_Tracks.prj',
 'CMA_Best_Tracks.csv',
 'CMA_Best_Tracks_Nodes.shx',
 'CMA_Tracks_500km.dbf',
 'CMA_Tracks_Nodes_500km.cpg',
 'CMA_Best_Tracks.cpg',
 'CMA_Tracks_500km.cpg',
 'CMA_Tracks_Nodes_on_Land.dbf',
 'CMA_Tracks_500km.shp',
 'CMA_Tracks_Nodes_on_Land.prj',
 'CMA_Tracks_500km.shx',
 'CMA_Tracks_Nodes_on_Land.shp',
 'CMA_Tracks_on_Land.shx',
 'CMA_Tracks_500km.prj',
 'CMA_Tracks_Nodes_500km.dbf',
 'CMA_Best_Tracks.shx',
 'CMA_Tracks_Nodes_500km.shp',
 'CMA_Tracks_Nodes_500km.shx',
 'CMA_Tracks_on_Land.prj',
 'CMA_Tracks_on_Land.dbf',
 'CMA_Tracks_on_Land.cpg',
 'CMA_Best_Tracks_Nodes.shp',
 'CMA_Tracks_on_Land.shp',
 'CMA_Tracks_Nodes_on_Land.shx',
 'CMA_Best_Tracks_Nodes.prj',
 'CMA_Best_Tracks.shp',
 'CMA_Tracks_Nodes_500km.prj']

In [5]:
nodes = gpd.read_file(os.path.join(Output_folder2,'CMA_Tracks_Nodes_500km.shp'))

In [9]:
idx = nodes.where((nodes.Year==2017)&(nodes.Name=='HATO'))

In [10]:
idx

,Year,Month,Day,Hour,CMAID,InYearID,IntID,CNID,Name,Flag,TimeInterv,IntensityC,LAT,LON,PRES,WND,OWD,geometry
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [3]:
tracks_on_land['Time']=pd.to_datetime(tracks_on_land[['Year','Month','Day','Hour']])
t1 = tracks_on_land.groupby('CMAID')['Time'].min().to_frame()
t2 = tracks_on_land.groupby('CMAID')['Time'].max().to_frame()
best_track_duration = pd.merge(t1,t2,left_index=True,right_index=True).reset_index()

In [18]:
tracks_on_land

,Year,Month,Day,Hour,CMAID,InYearID,IntID,CNID,Name,Flag,TimeInterv,IntensityC,LAT,LON,PRES,WND,OWD,geometry,Time
0,1949,7,10,6,194904,4,0000,0000,Elaine,0,6,1,22.6,113.9,998,15,None,POINT (113.90000 22.60000),1949-07-10 06:00:00
1,1949,7,10,12,194904,4,0000,0000,Elaine,0,6,0,22.8,113.0,1000,10,None,POINT (113.00000 22.80000),1949-07-10 12:00:00
2,1949,7,25,0,194906,6,0000,0000,Gloria,0,6,3,31.2,121.0,978,30,None,POINT (121.00000 31.20000),1949-07-25 00:00:00
3,1949,7,25,6,194906,6,0000,0000,Gloria,0,6,2,32.1,120.8,983,20,None,POINT (120.80000 32.10000),1949-07-25 06:00:00
4,1949,7,25,12,194906,6,0000,0000,Gloria,0,6,2,33.0,120.6,988,20,None,POINT (120.60000 33.00000),1949-07-25 12:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2903,2020,9,8,0,202011,11,2010,2010,Haishen,0,6,2,43.9,128.1,990,18,None,POINT (128.10000 43.90000),2020-09-08 00:00:00
2904,2020,9,8,6,202011,11,2010,2010,Haishen,0,6,9,45.3,127.8,990,18,None,POINT (127.80000 45.30000),2020-09-08 06:00:00
2905,2020,9,8,12,202011,11,2010,2010,Haishen,0,6,9,45.7,127.2,992,15,None,POINT (127.20000 45.70000),2020-09-08 12:00:00
2906,2020,10,13,12,202017,17,2016,2016,Nangka,0,3,3,19.2,110.5,988,25,None,POINT (110.50000 19.20000),2020-10-13 12:00:00
2907,2020,10,13,15,202017,17,2016,2016,Nangka,0,3,2,19.6,109.6,990,23,None,POINT (109.60000 19.60000),2020-10-13 15:00:00

In [23]:
tracks_on_land[tracks_on_land.Year==2017]

,Year,Month,Day,Hour,CMAID,InYearID,IntID,CNID,Name,Flag,TimeInterv,IntensityC,LAT,LON,PRES,WND,OWD,geometry,Time
2600,2017,6,12,15,201703,3,1702,1702,MERBOK,0,6,3,22.5,114.5,988,25,None,POINT (114.50000 22.50000),2017-06-12 15:00:00
2601,2017,6,12,18,201703,3,1702,1702,MERBOK,0,6,2,22.9,114.6,990,23,None,POINT (114.60000 22.90000),2017-06-12 18:00:00
2602,2017,6,13,0,201703,3,1702,1702,MERBOK,0,6,1,23.9,114.8,998,15,None,POINT (114.80000 23.90000),2017-06-13 00:00:00
2603,2017,6,13,6,201703,3,1702,1702,MERBOK,0,6,1,25.2,115.5,1002,13,None,POINT (115.50000 25.20000),2017-06-13 06:00:00
2604,2017,6,13,12,201703,3,1702,1702,MERBOK,0,6,0,26.2,116.4,1005,10,None,POINT (116.40000 26.20000),2017-06-13 12:00:00
2605,2017,6,13,18,201703,3,1702,1702,MERBOK,0,6,0,27.5,117.3,1006,10,None,POINT (117.30000 27.50000),2017-06-13 18:00:00
2606,2017,7,23,6,201708,8,1707,1707,ROKE,0,6,1,22.7,113.3,1000,15,None,POINT (113.30000 22.70000),2017-07-23 06:00:00
2607,2017,7,23,12,201708,8,1707,1707,ROKE,0,6,1,22.6,111.1,1004,13,None,POINT (111.10000 22.60000),2017-07-23 12:00:00
2608,2017,7,30,0,201710,10,1709,1709,NESAT,0,6,3,25.7,119.3,982,28,None,POINT (119.30000 25.70000),2017-07-30 00:00:00
2609,2017,7,30,6,201710,10,1709,1709,NESAT,0,6,1,26.1,118.1,990,15,None,POINT (118.10000 26.10000),2017-07-30 06:00:00
2610,2017,7,30,12,201710,10,1709,1709,NESAT,0,6,1,25.8,117.5,992,13,None,POINT (117.50000 25.80000),2017-07-30 12:00:00
2611,2017,7,30,18,201710,10,1709,1709,NESAT,0,6,1,25.4,116.9,992,13,None,POINT (116.90000 25.40000),2017-07-30 18:00:00
2612,2017,7,31,0,201710,10,1709,1709,NESAT,0,6,0,24.8,116.6,994,10,None,POINT (116.60000 24.80000),2017-07-31 00:00:00
2613,2017,7,31,0,201711,11,1710,1710,HAITANG,0,6,2,26.2,119.0,988,23,None,POINT (119.00000 26.20000),2017-07-31 00:00:00
2614,2017,7,31,6,201711,11,1710,1710,HAITANG,0,6,2,27.2,118.2,990,23,None,POINT (118.20000 27.20000),2017-07-31 06:00:00
2615,2017,7,31,12,201711,11,1710,1710,HAITANG,0,6,2,27.9,116.9,992,20,None,POINT (116.90000 27.90000),2017-07-31 12:00:00
2616,2017,7,31,18,201711,11,1710,1710,HAITANG,0,6,1,28.8,116.1,996,13,None,POINT (116.10000 28.80000),2017-07-31 18:00:00
2617,2017,8,1,0,201711,11,1710,1710,HAITANG,0,6,1,29.7,115.8,996,13,None,POINT (115.80000 29.70000),2017-08-01 00:00:00
2618,2017,8,1,6,201711,11,1710,1710,HAITANG,0,6,9,30.8,115.6,996,13,None,POINT (115.60000 30.80000),2017-08-01 06:00:00
2619,2017,8,1,12,201711,11,1710,1710,HAITANG,0,6,9,31.3,115.6,996,10,None,POINT (115.60000 31.30000),2017-08-01 12:00:00
2620,2017,8,1,18,201711,11,1710,1710,HAITANG,0,6,9,31.8,115.6,996,10,None,POINT (115.60000 31.80000),2017-08-01 18:00:00
2621,2017,8,2,0,201711,11,1710,1710,HAITANG,0,6,9,32.2,115.7,996,10,None,POINT (115.70000 32.20000),2017-08-02 00:00:00
2622,2017,8,2,6,201711,11,1710,1710,HAITANG,0,6,9,32.7,115.8,996,10,None,POINT (115.80000 32.70000),2017-08-02 06:00:00
2623,2017,8,2,12,201711,11,1710,1710,HAITANG,0,6,9,33.2,115.9,996,10,None,POINT (115.90000 33.20000),2017-08-02 12:00:00
2624,2017,8,2,18,201711,11,1710,1710,HAITANG,0,6,9,34.0,116.0,996,10,None,POINT (116.00000 34.00000),2017-08-02 18:00:00
2625,2017,8,3,0,201711,11,1710,1710,HAITANG,0,6,9,35.2,116.5,996,10,None,POINT (116.50000 35.20000),2017-08-03 00:00:00
2626,2017,8,3,6,201711,11,1710,1710,HAITANG,0,6,9,36.4,117.4,996,10,None,POINT (117.40000 36.40000),2017-08-03 06:00:00
2627,2017,8,23,6,201714,14,1713,1713,HATO,0,6,5,22.1,112.9,955,42,None,POINT (112.90000 22.10000),2017-08-23 06:00:00
2628,2017,8,23,12,201714,14,1713,1713,HATO,0,6,3,22.6,110.9,985,25,None,POINT (110.90000 22.60000),2017-08-23 12:00:00
2629,2017,8,23,18,201714,14,1713,1713,HATO,0,6,2,22.9,109.2,990,23,None,POINT (109.20000 22.90000),2017-08-23 18:00:00
2630,2017,8,24,0,201714,14,1713,1713,HATO,0,6,2,23.2,107.6,994,18,None,POINT (107.60000 23.20000),2017-08-24 00:00:00
2631,2017,8,24,6,201714,14,1713,1713,HATO,0,6,1,23.5,106.3,996,15,None,POINT (106.30000 23.50000),2017-08-24 06:00:00
2632,2017,8,24,12,201714,14,1713,1713,HATO,0,6,1,23.7,105.0,998,13,None,POINT (105.00000 23.70000),2017-08-24 12:00:00
2633,2017,8,24,18,201714,14,1713,1713,HATO,0,6,1,23.6,102.8,998,13,None,POINT (102.80000 23.60000),2017-08-24 18:00:00
2634,2017,8,25,0,201714,14,1713,1713,HATO,0,6,0,23.7,99.8,1000,10,None,POINT (99.80000 23.70000),2017-08-25 00:00:00
2635,2017,8,27,6,201715,15,1714,1714,PAKHAR,0,6,2,22.8,111.6,992,20,None,POINT (111.60000 22.80000),2017-08-27 06:00:00
2636,2017,8,27,12,201715,15,1714,1714,PAKHAR,0,6,1,23.1,109.9,1000,15,None,POINT (109.90000 23.10000),2017-08-27 12:00:00
2637,2017,8,27,18,201715,15,1714,1714,PAKHAR,0,6,1,23.4,108.4,1002,13,None,POINT (108.40000 23.40000),2017-08-27 18:00:00
2638,2017,8,28,0,201715,15,1714,1714,PAKHAR,0,6,0,23.6,106.7,1004,10,None,POINT (106.70000 23.60000),2017-08-28 00:00:00
2639,2017,9,3,18,201717,17,1716,1716,MAWAR,0,6,1,23.1,115.3,1000,15,None,POINT (115.30000 23.10000),2017-09-03 18:00:00
2640,2017,9,4,0,201717,17,1716,1716,MAWAR,0,6,1,23.4,114.5,1002,13,None,POINT (114.50000 23.40000),2017-09-04 00:00:00
2641,2017,9,4,6,201717,17,1716,1716,MAWAR,0,6,0,23.7,113.5,1004,10,None,POINT (113.50000 23.70000),2017-09-04 06:00:00
2642,2017,9,24,18,201721,21,0000,0000,(nameless),0,6,1,19.5,109.5,1000,15,None,POINT (109.50000 19.50000),2017-09-24 18:00:00

In [21]:
best_track_duration[best_track_duration.CMAID>202000]

      CMAID              Time_x              Time_y
589  202002 2020-06-14 03:00:00 2020-06-14 12:00:00
590  202003 2020-08-01 00:00:00 2020-08-01 06:00:00
591  202004 2020-08-03 21:00:00 2020-08-04 21:00:00
592  202006 2020-08-11 00:00:00 2020-08-11 06:00:00
593  202008 2020-08-19 00:00:00 2020-08-19 15:00:00
594  202009 2020-08-27 06:00:00 2020-08-28 00:00:00
595  202010 2020-09-03 06:00:00 2020-09-05 12:00:00
596  202011 2020-09-07 18:00:00 2020-09-08 12:00:00
597  202017 2020-10-13 12:00:00 2020-10-13 15:00:00

In [ ]:
best_nodes = pd.read_csv('os.path.join(Ou)')