In [1]:
import os
import glob
import numpy as np
import pandas as pd
import datetime as dt
from shapely.geometry import LineString, Point, Polygon, MultiPoint
import matplotlib.pyplot as plt
import geopandas as gpd
from pyproj import CRS
import seaborn as sns; sns.set_theme()
import matplotlib.pyplot as plt
import netCDF4 as nc
import shapely
shapely.speedups.enabled

%matplotlib inline

In [2]:
# IMERG data folder
#IMERG_folder = '/home/lzhou/Precipitation/IMERG/'
#IMERG_folder = r'D:\Precipitation\IMERG'
IMERG_folder = '/media/lzhou/Extreme SSD/Precipitation/IMERG'
CMA_folder = '/home/lzhou/Precipitation/TC_Tracks/CMA_Historical_Data/Wind_Rainfall/'
Output_folder = '/home/lzhou/Precipitation/Output'

In [3]:
os.listdir(CMA_folder)

['1949-2018_Wind.csv',
 '1949-2018_DailyPrecipitation.csv',
 '1951-2018_MaxHourlyPrecipitation.csv',
 '1949-2018_W8Date.csv',
 'read me.txt',
 'China_Sta.csv',
 '1949-2018_TotalPrecipitation.csv',
 '1949-2018_Gust.csv']

In [4]:
# load station data
stations = pd.read_csv(os.path.join(CMA_folder,'China_Sta.csv'))
stations['lat'] = stations['lat'].apply(lambda x: float(x[:2])+int(x[3:5])/60.)
stations['long'] = stations['long'].apply(lambda x: float(x[:3])+int(x[4:6])/60.)
stations.rename(columns={"long": "lon"},inplace=True)
#stations['Lat'] = stations['lat'].apply(lambda x: float(x[:2])+int(x[3:5])/60.)

In [5]:
stations

,ID,StationID,StationName,lat,lon,AltitudeSensor,AltitudeSite
0,1,50527,HAILAR,49.250000,119.700000,650.4,999998
1,2,50557,NENJIANG,49.166667,125.233333,243.0,999998
2,3,50603,XIN BARAG YOUQI,48.666667,116.816667,556.0,999998
3,4,50727,ARXAN,47.166667,119.933333,997.0,999998
4,5,50745,QIQIHAR,47.383333,123.916667,148.0,999998
...,...,...,...,...,...,...,...
178,179,59559,HENGCHUN,22.000000,120.750000,24.0,999998
179,180,59644,BEIHAI,21.483333,109.100000,16.0,999998
180,181,59663,YANGJIANG,21.833333,111.966667,91.0,999998
181,182,59758,HAIKOU,20.000000,110.250000,64.0,999998
182,183,59838,DONGFANG,19.100000,108.616667,8.0,999998

# filter out stations that are impacted by typhoon precipitation
nodes_file = '/home/lzhou/Precipitation/Precipitation_Scripts/Output/CMA_Tracks_Nodes_on_Land.shp'
nodes = gpd.read_file(nodes_file)
minlon,minlat,maxlon,maxlat = nodes_wgs84.geometry.total_bounds
minlon = minlon-5; minlat=minlat-5; maxlon=maxlon+5; maxlat=maxlat+5
target_stations = stations[(stations.lat>=minlat)&(stations.lat<=maxlat)&(stations.long>=minlon)&(stations.long<=maxlon)]

In [8]:
# load total precipitation data
df = pd.read_csv(os.path.join(CMA_folder,'1949-2018_TotalPrecipitation.csv'), \
                header=None,names=['SerialID','TCID','StationID','Total_Precip'])

In [19]:
df.head(33)

    SerialID  TCID  StationID  Total_Precip
0     194904  4900      59293          14.0
1     194906  4900      54342          86.0
2     194906  4900      54471          53.0
3     194906  4900      54497         156.0
4     194906  4900      54823          28.0
5     194906  4900      58238          13.0
6     194908  4900      58847          19.0
7     194908  4900      59293          22.0
8     194911  4900      59117          75.0
9     194911  4900      59293          25.0
10    194913  4900      58238          22.0
11    194913  4900      58847          24.0
12    194913  4900      59134          72.0
13    194919  4900      59023          54.0
14    194919  4900      59117          17.0
15    194919  4900      59134          27.0
16    194919  4900      59211          26.0
17    194919  4900      59293          19.0
18    194919  4900      59431          59.0
19    194920  4900      58847          26.0
20    194920  4900      59117          37.0
21    194920  4900      59134          22.0
22    194920  4900      59293          76.0
23    194922  4900      59211          18.0
24    194922  4900      59265          28.0
25    194922  4900      59431          41.0
26    194924  4900      58847          23.0
27    194924  4900      59117          16.0
28    194925  4900      58606          11.0
29    194925  4900      58847          82.0
30    194925  4900      59117          14.0
31    194925  4900      59134          97.0
32    195003  5000      59134          12.0

In [25]:
best_tracks = gpd.read_file('/home/lzhou/Precipitation/Precipitation_Scripts/Output/CMA_Best_Tracks.shp')
best_tracks.head(37)

,CMAID,Year,IntID,InYearID,CNID,Flag,Name,geometry
0,194901,1949,0000,1,0000,0,Carmen,"LINESTRING (139.90000 5.70000, 139.30000 5.900..."
1,194902,1949,0000,2,0000,0,Della,"LINESTRING (145.00000 6.60000, 143.70000 6.600..."
2,194903,1949,0000,3,0000,0,(nameless),"LINESTRING (121.80000 21.30000, 123.50000 21.5..."
3,194904,1949,0000,4,0000,0,Elaine,"LINESTRING (140.30000 5.50000, 139.80000 5.600..."
4,194905,1949,0000,5,0000,0,Faye,"LINESTRING (141.80000 19.10000, 141.10000 19.2..."
5,194906,1949,0000,6,0000,0,Gloria,"LINESTRING (134.00000 12.20000, 133.60000 12.7..."
6,194907,1949,0000,7,0000,0,Hester,"LINESTRING (143.70000 16.20000, 143.30000 16.6..."
7,194908,1949,0000,8,0000,0,Irma,"LINESTRING (113.50000 18.00000, 113.90000 18.2..."
8,194908,1949,0000,8,0000,0,Irma(-)1,"LINESTRING (113.50000 18.00000, 113.90000 18.2..."
9,194909,1949,0000,9,0000,1,(nameless),"LINESTRING (142.90000 19.80000, 142.90000 20.5..."
10,194910,1949,0000,10,0000,0,(nameless),"LINESTRING (138.50000 6.80000, 137.40000 6.900..."
11,194911,1949,0000,11,0000,0,(nameless),"LINESTRING (114.00000 18.00000, 113.40000 18.1..."
12,194912,1949,0000,12,0000,0,Judith,"LINESTRING (133.70000 7.40000, 133.30000 7.700..."
13,194912,1949,0000,12,0000,0,Judith(-)1,"LINESTRING (133.70000 7.40000, 133.30000 7.700..."
14,194913,1949,0000,13,0000,0,(nameless),"LINESTRING (128.50000 26.10000, 127.90000 25.9..."
15,194914,1949,0000,14,0000,0,(nameless),"LINESTRING (133.00000 25.20000, 134.30000 26.3..."
16,194915,1949,0000,15,0000,0,(nameless),"LINESTRING (141.10000 7.40000, 139.70000 7.900..."
17,194916,1949,0000,16,0000,1,Kitty,"LINESTRING (155.10000 20.50000, 155.10000 21.1..."
18,194917,1949,0000,17,0000,0,Lise,"LINESTRING (146.20000 17.20000, 145.30000 17.2..."
19,194918,1949,0000,18,0000,1,Madeline,"LINESTRING (152.00000 21.10000, 152.00000 21.9..."
20,194919,1949,0000,19,0000,0,(nameless),"LINESTRING (125.50000 18.30000, 124.90000 18.6..."
21,194920,1949,0000,20,0000,0,Nelly,"LINESTRING (142.80000 16.70000, 142.20000 16.8..."
22,194921,1949,0000,21,0000,0,(nameless),"LINESTRING (142.20000 15.00000, 142.40000 16.2..."
23,194921,1949,0000,21,0000,0,(nameless)(-)1,"LINESTRING (142.20000 15.00000, 142.40000 16.2..."
24,194922,1949,0000,22,0000,1,(nameless),"LINESTRING (115.50000 11.20000, 115.20000 11.4..."
25,194923,1949,0000,23,0000,1,(nameless),"LINESTRING (154.00000 16.30000, 154.00000 17.2..."
26,194924,1949,0000,24,0000,0,(nameless),"LINESTRING (134.40000 14.80000, 131.30000 16.5..."
27,194925,1949,0000,25,0000,0,Omilia,"LINESTRING (138.20000 7.40000, 137.10000 8.100..."
28,194926,1949,0000,26,0000,0,(nameless),"LINESTRING (136.60000 12.70000, 135.70000 13.2..."
29,194927,1949,0000,27,0000,1,Patricia,"LINESTRING (141.50000 11.60000, 140.90000 11.8..."
30,194928,1949,0000,28,0000,1,(nameless),"LINESTRING (132.10000 7.20000, 131.60000 7.300..."
31,194929,1949,0000,29,0000,0,(nameless),"LINESTRING (136.90000 6.70000, 136.20000 6.700..."
32,194930,1949,0000,30,0000,0,Rena,"LINESTRING (136.60000 6.30000, 135.80000 6.300..."
33,194931,1949,0000,31,0000,1,Allyn,"LINESTRING (153.90000 8.10000, 153.40000 8.500..."
34,194932,1949,0000,32,0000,1,Betty,"LINESTRING (133.50000 7.10000, 133.20000 7.200..."
35,194933,1949,0000,33,0000,0,Camilla,"LINESTRING (141.90000 9.70000, 141.20000 9.600..."
36,195001,1950,0000,1,0000,2,(nameless),"LINESTRING (170.00000 16.00000, 168.70000 16.4..."

In [ ]:
best_nodes = gpd.read_file('/home/lzhou/Precipitation/Precipitation_Scripts/Output/CMA_Best_Tracks_Nodes.shp')
best_nodes['IntensityC'] = best_nodes['IntensityC'].astype('int')

In [34]:
best_nodes[best_nodes.CMAID==194906]

,Year,Month,Day,Hour,CMAID,InYearID,IntID,CNID,Name,Flag,TimeInterv,IntensityC,LAT,LON,PRES,WND,OWD,geometry
187,1949,7,19,0,194906,6,0000,0000,Gloria,0,6,0,12.2,134.0,1004,0,None,POINT (134.00000 12.20000)
188,1949,7,19,6,194906,6,0000,0000,Gloria,0,6,1,12.7,133.6,1000,15,None,POINT (133.60000 12.70000)
189,1949,7,19,12,194906,6,0000,0000,Gloria,0,6,2,13.2,133.2,995,20,None,POINT (133.20000 13.20000)
190,1949,7,19,18,194906,6,0000,0000,Gloria,0,6,2,13.9,132.8,990,20,None,POINT (132.80000 13.90000)
191,1949,7,20,0,194906,6,0000,0000,Gloria,0,6,3,14.5,132.3,982,30,None,POINT (132.30000 14.50000)
192,1949,7,20,6,194906,6,0000,0000,Gloria,0,6,4,15.1,132.0,974,35,None,POINT (132.00000 15.10000)
193,1949,7,20,12,194906,6,0000,0000,Gloria,0,6,5,15.9,131.7,967,45,None,POINT (131.70000 15.90000)
194,1949,7,20,18,194906,6,0000,0000,Gloria,0,6,5,16.6,131.4,960,50,None,POINT (131.40000 16.60000)
195,1949,7,21,0,194906,6,0000,0000,Gloria,0,6,5,17.2,131.2,960,50,None,POINT (131.20000 17.20000)
196,1949,7,21,6,194906,6,0000,0000,Gloria,0,6,5,18.0,131.0,960,50,None,POINT (131.00000 18.00000)
197,1949,7,21,12,194906,6,0000,0000,Gloria,0,6,5,18.8,130.9,960,50,None,POINT (130.90000 18.80000)
198,1949,7,21,18,194906,6,0000,0000,Gloria,0,6,5,19.5,130.8,960,50,None,POINT (130.80000 19.50000)
199,1949,7,22,0,194906,6,0000,0000,Gloria,0,6,5,20.3,130.7,960,50,None,POINT (130.70000 20.30000)
200,1949,7,22,6,194906,6,0000,0000,Gloria,0,6,5,21.3,130.6,960,50,None,POINT (130.60000 21.30000)
201,1949,7,22,12,194906,6,0000,0000,Gloria,0,6,5,22.4,130.4,960,50,None,POINT (130.40000 22.40000)
202,1949,7,22,18,194906,6,0000,0000,Gloria,0,6,5,23.9,129.7,960,50,None,POINT (129.70000 23.90000)
203,1949,7,23,0,194906,6,0000,0000,Gloria,0,6,5,25.3,128.6,960,50,None,POINT (128.60000 25.30000)
204,1949,7,23,6,194906,6,0000,0000,Gloria,0,6,5,26.1,127.2,960,50,None,POINT (127.20000 26.10000)
205,1949,7,23,12,194906,6,0000,0000,Gloria,0,6,5,26.6,126.1,960,45,None,POINT (126.10000 26.60000)
206,1949,7,23,18,194906,6,0000,0000,Gloria,0,6,5,27.2,125.1,960,45,None,POINT (125.10000 27.20000)
207,1949,7,24,0,194906,6,0000,0000,Gloria,0,6,5,27.9,124.1,962,45,None,POINT (124.10000 27.90000)
208,1949,7,24,6,194906,6,0000,0000,Gloria,0,6,5,28.8,123.2,964,45,None,POINT (123.20000 28.80000)
209,1949,7,24,12,194906,6,0000,0000,Gloria,0,6,4,29.6,122.5,966,40,None,POINT (122.50000 29.60000)
210,1949,7,24,18,194906,6,0000,0000,Gloria,0,6,4,30.4,121.7,968,40,None,POINT (121.70000 30.40000)
211,1949,7,25,0,194906,6,0000,0000,Gloria,0,6,3,31.2,121.0,978,30,None,POINT (121.00000 31.20000)
212,1949,7,25,6,194906,6,0000,0000,Gloria,0,6,2,32.1,120.8,983,20,None,POINT (120.80000 32.10000)
213,1949,7,25,12,194906,6,0000,0000,Gloria,0,6,2,33.0,120.6,988,20,None,POINT (120.60000 33.00000)
214,1949,7,25,18,194906,6,0000,0000,Gloria,0,6,3,34.2,120.6,988,25,None,POINT (120.60000 34.20000)
215,1949,7,26,0,194906,6,0000,0000,Gloria,0,6,4,35.5,120.8,985,35,None,POINT (120.80000 35.50000)
216,1949,7,26,6,194906,6,0000,0000,Gloria,0,6,3,36.9,121.6,990,30,None,POINT (121.60000 36.90000)
217,1949,7,26,12,194906,6,0000,0000,Gloria,0,6,9,37.8,123.0,995,25,None,POINT (123.00000 37.80000)
218,1949,7,26,18,194906,6,0000,0000,Gloria,0,6,9,38.1,124.6,998,15,None,POINT (124.60000 38.10000)
219,1949,7,27,0,194906,6,0000,0000,Gloria,0,6,9,38.2,126.2,998,15,None,POINT (126.20000 38.20000)

best_track = pd.read_csv('/home/lzhou/Precipitation/Precipitation_Scripts/Output/CMA_Best_Tracks.csv')
best_track.sort_values(by='Time')